.navButtons{
    @include flexCenter;
    justify-content: space-evenly;
    margin: .7rem 0;
    padding: 0.5rem 0.25rem;
    width: 100%;
    .navButton{
        height: 2.5rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        outline: none;
        border: none;
        background-color: $font-fade-color;
        color: $font-color;
        backdrop-filter: blur(5px);
        &:hover{
            cursor: pointer;
        }
    }
}