.default{
    background-image: url('../images/default.jpg');
    
}
.night{
    background-image: url('../images/night.jpg');
}
.snow{
    background-image: url('../images/snow.jpg');
}
.rain{
    background-image: url('../images/rain.jpg');
}
.storm{
    background-image: url('../images/storm.jpg');
}
.fog{
    background-image: url('../images/fog.jpg');
}